{% extends "base.html" %}
<style>
  div {
    background: red;
    margin: 5px;
  }
  table {
    border: 2px solid black;
  }
  td {
    padding: 10px;
    border: 1px solid lightgrey;
  }
</style>
{% block pageTitle %}Add New System{% endblock %}
{% block content %}
<!-- <table id="table1" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Component Name</th>
      <th>State1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" id="row-name" name="row-name" placeholder="Enter Component Name"></td>
      <td><input type="text" id="row-state" name="row-state" placeholder="Enter Component State"></td>
      <td><input type="text" id="row-property" name="row-property" placeholder="Enter Property"></td>
      <td><input type="text" id="row-min" name="row-min" placeholder="Enter Acceptable Min"></td>
      <td><input type="text" id="row-max" name="row-max" placeholder="Enter Acceptable Max"></td>
    </tr>
  </tbody>
</table>
-->



<!--
<p>Type in the number of components you wish to enter</p>
<p>
  <input type="text" id="tb1" />
  <button type="button" id="makeTButton" onclick='createTable()'>Make Table</button>
</p>

<table id="table" class="order-table table" name="table1" required>
</table>

<p><button onclick="createRows()">+</button> Rows <button onclick="deleteRows()">-</button></p>
<p><button type="submit">Submit form</button></p>
<a href="/safetyRelatedData"><button class="regular" type="button">Previous</button></a>

<script>
  var num = 0;
  function createTable() {
    var a;
    a = document.getElementById('tb1').value;
    num += a;
    if (a == "") {
      alert("Please enter some numeric value");
    } else {
      var rows = "<th>Component</th><th>State1</th>";
      for (var i = 0; i < a; i++) {
        rows += "<tr><td><input type='text' name='" + "component".concat(i+1) + "'></td><td><input type='text' name='" + "state1".concat(i+1) + "'></td></tr>";
      }
      var table = document.createElement('table');
      table.innerHTML = rows;
      document.getElementById("table").appendChild(table.firstChild);
    }
  }
/* NOT working right now because it wont get along with the create table function :(
  function createRows() {
    var table = document.getElementById("table");
    var row = table.insertRow(-1);
    for (var i = 0; i < num; i++)
    {
      var cells = row.insertCell(i);
      cells += "<tr><td><input type='text' name='" + "component".concat(i+1) + "'></td><td><input type='text' name='" + "state1".concat(i+1) + "'></td></tr>";";
    }
    table.innerHTML = cells;
    document.getElementById("table").appendChild(table.firstChild);
  }
*/
  function deleteRows() {
    document.getElementById("table").deleteRow(-1);
  }

  //this makes the create table button disappear after a number is entered
  var button = document.getElementById('makeTButton')
  button.addEventListener('click',hideshow,false);

  function hideshow() {
    document.getElementById('tb1').style.display = 'none';
    document.getElementById('makeTButton').style.display = 'none';
}
</script>
-->
<p>Populate the table</p>

<form name="myform" id="myform">
  <table id="table">

      <button type="button" id="addRow">Add Row</button>
      &nbsp;
      <button type="button" id="addCol">Add column</button>
      </br></br>

      <tr id="one">
          <td>Component Name</td>
          <td>State 1</td>
      </tr>
      <tr id="two">
          <td>
              <input type="text" name="Component name" />
          </td>
          <td>
              <input type="text" name="State1" />
          </td>
      
      </tr>
  </table>
  </br></br>
</form>


<form name="myform" id="myform1">
  <table id="table1">

      <button type="button" id="addRow1">Add Row</button>
      </br></br>

      <tr id="one1">
          <td>Component Name</td>
          <td>Property</td>
          <td>Minimum Value</td>
          <td>Maximum Value</td>

      </tr>
      <tr id="two1">
          <td>
              <input type="text" name="Component Name" />
          </td>
          <td>
              <input type="text" name="Property" />
          </td>
          <td>
              <input type="text" name="Minimum Value" />
          </td>
          <td>
              <input type="text" name="Maximum Value" />
          </td>
      </tr>
  </table>
  </br></br>
  <input type="submit"></input>
</form>



<script>
$(document).ready(function () {
$('#addRow').click(function () {
   var count = 1,
       first_row = $('#two');
   while (count-- > 0) first_row.clone().appendTo('#table');
});

var myform = $('#myform'),
   iter = 2;
$('#addCol').click(function () {
   myform.find('tr').each(function(){
     var trow = $(this);
       if(trow.index() === 0){
           trow.append('<td>State '+iter+'</td>');
       }else{
           trow.append('<td><input type="text" name="cb'+iter+'"/></td>');
       }
      
   });
   iter += 1;
});
});

$(document).ready(function () {
$('#addRow1').click(function () {
   var count = 1,
       first_row = $('#two1');
   while (count-- > 0) first_row.clone().appendTo('#table1');
});
});
    
</script>


{% endblock %}
