{% extends "base.html" %}
{% block pageTitle %}Login{% endblock %}
{% block content %}
<form action="#" method="post">
  <p>Email: <input type="text" name="email" /></p>
  <p>Password: <input type="text" name="pass" /></p>
  <p><input type="submit" value="submit" /></p>
</form>
<hr>
<h1> OR </h1>
<hr>
<p>
  <a href="/register"><button class="regi" type="button">Create new account</button></a>
</p>
<p>
  <a href="/"><button class="regular" type="button">Continue as Guest</button></a>
</p>
{% endblock %}
