{% extends "base.html" %}
{% block pageTitle %}Register{% endblock %}
{% block content %}
<form action="#" method="post">
  <p>Name: <input type="text" name="nm" /></p>
  <p>Email: <input type="text" name="email" /></p>
  <p>Password: <input type="text" name="pass" /></p>
  <p><input type="submit" value="submit" /></p>
</form>
<hr>
<h1> OR </h1>
<hr>
<p>register with one of these:
  <button class="facebook" type="button">Facebook</button>
  <button class="google" type="button"> <span style="color: rgba(72, 133, 237, 1);">G</span><span style="color: rgba(219, 50, 54, 1);">o</span><span style="color: rgba(244, 194, 13, 1);">o</span><span style="color: rgba(72, 133, 237, 1);">g</span><span style="color: rgba(60, 186, 84, 1);">l</span><span style="color: rgba(219, 50, 54, 1);">e</span></button>
  <button class="twitter" type="button">Twitter</button>
</p>
{% endblock %}
